.book-details {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.book-details img {
    display: block;
    max-width: 200px;
    border-radius: 10px;
    margin: auto;
}
    

.book-details h1 {
    color: var(--clr1);
    font-size: 2em;
}

.book-details h2 {
    color: var(--clr1);
    font-size: 1.8rem;
    margin: 10px 0;
}

.book-details h3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.book-details h5 {
    color: var(--clr2);
}
.book-details dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
  text-align: left;
  margin: 20px 0;
}
.book-details dt {
    font-weight: bold;
    color: #333;
  }
  
  .book-details dd {
    margin: 0;
    color: #666;
  }
  
  .on-sale {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
.book-details .close-button {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--clr2);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: color 0.3s ease;
}

.book-details .close-button:hover {
    color: black;
}
  
.book-details .blank{
    width: 200px;
    height:250px;
    display: block;
    margin: auto;
    border: 1px solid black;
}

.book-details .loading {
    font-size: 2.5rem;
    animation: loader 0.5s alternate infinite linear;
}

.book-details.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }