.book-filter {
    background-color: var(--clr2bg);
    padding: 0.3rem 1em;
    margin-block: .5em 1em;
}

.book-filter form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, min-content));
    gap: 0.5em 1em;
}

.book-filter .filter-field{
    display:flex;
    flex-direction: column;
    gap:0.2em;
    font-weight: bold;
}

.book-filter form button {
    display:block;
    grid-column: 1/-1;
    margin-inline: 0;
    width:150px;
}