/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

.capitalize {
    text-transform: capitalize;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.loader {
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    inset: 0;
    margin: auto;
    animation: loader 0.5s alternate infinite linear;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.786); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes loader {
    to {
        opacity: 0.3;
    }
}